
.grid {
  display: flex;
  flex-direction: column;
  @include breakpoint($tablet_wide) {
    flex-direction: row;
  }

  &--justify-right { justify-content: flex-end; }
  &--justify-center { justify-content: center; }

  &--align-top { align-items: flex-start; }
  &--align-bottom { align-items: flex-end; }
  &--align-center { align-items: center; }

  .grid-cell {
    flex: 1;
    &--align-top { align-self: flex-start; }
    &--align-bottom { align-self: flex-end; }
    &--align-center { align-self: center; }
  }
}
