<header class="header">
  <a href="/" title="Gainesville Barcamp Homepage" class="header-year"><span class="century">20</span><img class="barcamp-logo" src="assets/images/barcamp-logo.svg" alt="Barcamp Logo"><span class="year">16</span></a>
  <nav class="nav">
    <ul class="menu">
      <li class="menu-item"><a href="/#location" class="menu-item-link">Location</a></li>
      <li class="menu-item"><a href="faq.html" class="menu-item-link">FAQ</a></li>
      <li class="menu-item"><a href="sessions.html" class="menu-item-link">Sessions</a></li>
      <li class="menu-item"><a href="sponsors.html" class="menu-item-link">Sponsors</a></li>
      <li class="menu-item"><a href="contact.html" class="menu-item-link">Contact</a></li>
      <li class="menu-item"><a href="http://barcamp-gainesville.eventbrite.com" class="menu-item-link" target="_blank">Register</a></li>
    </ul>
    <a class="nav-menu-icon" tabindex="0">
    <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
      <path d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z" fill="#fff"/>
    </svg>
    </a>
  </nav>
</header>
