<div class="grid sponsors-grid sponsors-grid--first sponsors-grid--cypress">
  <div class="grid-cell grid-cell--align-center">
    <h2 class="banner">Cypress Level</h2>
    <a target="_blank" href="https://www.infotechfl.com"><img src="assets/images/sponsors/infotech.png" alt="Info Tech"></a>
  </div>
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="http://warrington.ufl.edu/centers/cei"><img src="assets/images/sponsors/CEI.png" alt="Entrepreneurship & Innovation Center"></a>
  </div>
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="http://sharpspring.com"><img src="assets/images/sponsors/sharpspring.png" alt="Sharpspring"></a>
  </div>
</div>
<div class="grid sponsors-grid sponsors-grid--sapling sponsors-grid--last">
  <div class="grid-cell grid-cell--align-center">
    <h2 class="banner">Sapling Level</h2>
    <a target="_blank" href="http://352media.com"><img src="assets/images/sponsors/352.png" alt="352 Media"></a>
  </div>
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="http://www.onwarddev.com"><img src="assets/images/sponsors/onward.png" alt="Onward Development"></a>
  </div>
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="http://gainnet.org"><img src="assets/images/sponsors/gain.png" alt="GAINnet"></a>
  </div>
  <div class="grid-cell grid-cell--align-center">
    <a target="_blank" href="http://www.infiniteenergy.com/"><img src="assets/images/sponsors/IEI.png" alt="Infinite Energy"></a>
  </div>
</div>
</div>
