<section class="sponsors content container container--small">
  <h1 class="banner sponsors-banner">Cypress Level Sponsors</h1>
  <div class="grid sponsors-grid sponsors-grid--cypress sponsors-grid--last">
    <div class="grid-cell grid-cell--align-center">
      <a target="_blank" href="https://www.infotechfl.com/"><img src="assets/images/sponsors/infotech.png" alt="Info Tech"></a>
    </div>
    <div class="grid-cell grid-cell--align-center">
      <a target="_blank" href="http://sharpspring.com/"><img src="assets/images/sponsors/sharpspring.png" alt="Sharpspring"></a>
    </div>
  </div>
</section>
