<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>FAQ | Gainesville Barcamp 2016</title>
    <link rel="stylesheet" href="assets/stylesheets/application.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <meta name="description" content="Gainesville Barcamp will be held on March 12th, 2016! BarCamp is a chance to network, learn something new, and communicate what you're most passionate about.">
    <meta property="og:image" content="http://gainesvillebarcamp.com/images/barcamp-share-image.jpg"/>
    <meta name="twitter:title" content="Gainesville Barcamp will be held on March 12th, 2016!">
    <meta name="twitter:description" content="BarCamp is a chance to network, learn something new, and communicate what you're most passionate about. Come one, come all. No boring talks to sift through in order to get to the good ones; the power is totally in your hands to hear what you're interested in!">
    <meta name="twitter:site" content="@GNVBarCamp">
    <meta name="twitter:image" content="http://gainesvillebarcamp.com/assets/images/barcamp-share-image.jpg">
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner">Frequently Asked Questions</h1>
        <h2>When and where is Gainesville Barcamp?</h2>
        <p>Gainesville Barcamp will be Saturday, March 12th at <a href="/#location">Stuzin Hall at the University of Florida in Gainesville</a>. Registration starts at 8am (we'll have coffee!) and it'll continue to 5pm-ish. :)</p>
        <h2>Does BarCamp have something to do with bars or camping?</h2>
        <p>Nope, it doesn't. The "BarCamp" name arose as an open to the public alternative to Foo Camp, which is an invitation-only conference. Under 21 are welcome, and please don't bring your tents!</p>
        <h2>What is the cost to attend?</h2>
        <p>Nothing! BarCamp is completely free and open to the public. Invite all your friends and share the experience with them!</p>
        <h2>What will the session topics be?</h2>
        <p>The majority of sessions are not prearranged. Attendees propose their own session ideas on the day of the event, and the schedules are updated throughout the day to make sure the most popular sessions get the largest rooms. Although topics should lean heavily to a tech and creative audience, one of the most fun parts of BarCamps are the ‘kitchen sink’ talks like ‘How to roast your own coffee’ or ‘Lockpicking’.</p>
        <h2>How long are the talks?</h2>
        <p>The schedule allots 30 minutes for each session but you should leave some room for Q&amp;A afterwards and travel time between sessions.</p>
        <h2>Do I have to give a talk?</h2>
        <p>Absolutely not! Many people come to BarCamp just to meet new people and listen to other folks give presentations, and that's great! We encourage people to participate however they are most comfortable. That's the beauty of the "un-conference." You can pretty much do whatever you want.</p>
        <h2>What should I bring?</h2>
        <p>BarCamp attendees don’t need to bring anything more but themselves and a thirst for knowledge, but here are a few suggestions<br>
        <ul>
          <li>Notepad, pen/pencil for taking notes and collecting autographs</li>
          <li>Something to share with attendees (i.e. business cards)</li>
          <li>A friend!</li>
        </ul></p>
        <h2>What Should Presenters Bring?</h2>
        <p>Whatever you think is sufficient for your session. There will be projectors in all main rooms but no whiteboards. If you have a slideshow, bring your laptop and whatever VGA/HDMI/DVI cable you need. </p>
        <h2>How many presentation rooms will be available?</h2>
        <p>This is to be determined. Check back soon!</p>
        <h2>Will internet be provided?</h2>
        <p>Sorry, no internet will be provided so prepare any materials you need ahead of time.</p>
        <h2>Can I give a sales presentation?</h2>
        <p>No. To be respectful of our BarCamp attendees, sales presentations or all-out sales pitches are not allowed. Don’t even try it, folks.</p>
        <h2>What if people walk out during a talk?</h2>
        <p>If a talk or discussion in one room isn’t of interest to you, feel free to walk out and join another session. If you’re giving a talk, don’t worry if people do this.</p>
        <h2>Will food and drinks be provided?</h2>
        <p>This is to be determined. Check back soon!</p>
        <h2>So, who made this kickass website?</h2>
        <p>Thanks! This website was designed by Kyle Redon (<a target="_blank" href="https://twitter.com/kredon">@kredon</a>), and implemented by Mike Herchel (<a target="_blank" href="https://twitter.com/mikeherchel">@mikeherchel</a>), with some help from Kyle.</p>
        <h2>No really, I want to steal your website!</h2>
        <p>Totally cool! We'll throw it up on Github for you! You can check it out over at <a href="https://github.com/Gainesville-Barcamp/Gainesville-Barcamp">https://github.com/Gainesville-Barcamp/Gainesville-Barcamp</a>.</p>
        <h2>You didn't answer my question!</h2>
        <p>If you have any other questions or concerns, please feel free to <a href="/contact.html">contact us</a> and we will do our best to get back to you as soon as possible.</p>
      </div>
    </section>
    @@include('_sponsors-footer.html')
    @@include('_footer.html')
  </body>
</html>
