<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Sponsor Prospectus | Gainesville Barcamp 2016 test</title>
    <link rel="stylesheet" href="assets/stylesheets/application.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <meta name="description" content="Gainesville Barcamp will be held on March 12th, 2016! BarCamp is a chance to network, learn something new, and communicate what you're most passionate about.">
    <meta property="og:image" content="http://gainesvillebarcamp.com/images/barcamp-share-image.jpg"/>
    <meta name="twitter:title" content="Gainesville Barcamp will be held on March 12th, 2016!">
    <meta name="twitter:description" content="BarCamp is a chance to network, learn something new, and communicate what you're most passionate about. Come one, come all. No boring talks to sift through in order to get to the good ones; the power is totally in your hands to hear what you're interested in!">
    <meta name="twitter:site" content="@GNVBarCamp">
    <meta name="twitter:image" content="http://gainesvillebarcamp.com/assets/images/barcamp-share-image.jpg">
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner right">Sponsor Gainesville Barcamp!</h1>
        <p>Sponsor Gainesville’s un-conference! A tech-focused event where anyone can get involved!</p>
        <p>Sponsoring a BarCamp is a great way to support and give back to the Gainesville tech and creative community. The conference features one day of talks and presentations from enthusiasts and professionals. By sponsoring the event, you’ll have the opportunity to expose your company to around 200 local creatives and technologists, as well as participate in the success of a much-loved event.</p>
        <a href="/barcamp_prospectus.pdf" target="_blank" class="button medium">Download Prospectus PDF</a>
        <h2>Cypress - $1,500</h2>
        <ul>
          <li>Meeting room named after the organization</li>
          <li>Exposure in any official press releases</li>
          <li>Designated table space at the event for promotion</li>
          <li>Exposure from the official Twitter account announcing your sponsorship</li>
          <li>Prime logo and link placement on <em>every page</em> of the website</li>
          <li>Prime logo placement on back of official t-shirt</li>
          <li>Space on a swag table for your swag and leaflets</li>
          <li>Exposure on official twitter feed during event</li>
        </ul>
        <h2>Magnolia - $1,000</h2>
        <ul>
          <li>Designated table space at the event for promotion</li>
          <li>Exposure from the official Twitter account announcing your sponsorship</li>
          <li>Logo, and link on the website</li>
          <li>Logo on back of official t-shirt</li>
          <li>Space on a swag table for your swag and leaflets</li>
          <li>Exposure on official twitter feed during event</li>
        </ul>
        <h2>Sapling - $500</h2>
        <ul>
          <li>Exposure from the official Twitter account announcing your sponsorship</li>
          <li>Logo, and link on the website</li>
          <li>Logo on back of official t-shirt</li>
          <li>Space on a swag table for your swag and leaflets</li>
          <li>Exposure on official twitter feed during event</li>
        </ul>
        <h2>Seedling - $250</h2>
        <ul>
          <li>Exposure from the official Twitter account announcing your sponsorship</li>
          <li>Logo, and link on the website</li>
          <li>Smaller logo on back of official t-shirt</li>
        </ul>
      </div>
    </section>
    @@include('_sponsors-footer.html')
    @@include('_footer.html')
  </body>
</html>
