<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Sessions | Gainesville Barcamp 2016</title>
    <link rel="stylesheet" href="assets/stylesheets/application.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <meta name="description" content="Gainesville Barcamp will be held on March 12th, 2016! BarCamp is a chance to network, learn something new, and communicate what you're most passionate about.">
    <meta property="og:image" content="http://gainesvillebarcamp.com/images/barcamp-share-image.jpg"/>
    <meta name="twitter:title" content="Gainesville Barcamp will be held on March 12th, 2016!">
    <meta name="twitter:description" content="BarCamp is a chance to network, learn something new, and communicate what you're most passionate about. Come one, come all. No boring talks to sift through in order to get to the good ones; the power is totally in your hands to hear what you're interested in!">
    <meta name="twitter:site" content="@GNVBarCamp">
    <meta name="twitter:image" content="http://gainesvillebarcamp.com/assets/images/barcamp-share-image.jpg">
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner">Featured Sessions</h1>
        <p>
          The sessions listed below are emblematic of the types of session that
          we want to encourage. Check them out and draw inspiration for your own
          session! Remember, sessions aren't limited to just "talks," it can be
          a presentation, panel or discussion group.
        </p>
        <p>Want to give a featured session? <a href="/contact.html">Contact us</a>!</p>
      </div>
      <div class="sessions-grid">
        <div class="sessions-grid-sizer"></div>
        <div class="session">
          <div class="session__speaker-image iman" title="Iman Zawahry">
            <span class="banner session__banner">CREATIVE</span>
          </div>
          <h3 class="session__title">
            Let's make a movie!
            <small class="session__speaker-name">Iman Zawahry</small>
          </h3>
          <p class="session__desc">
             Come watch, listen, and discuss how the producer of the independent
             film Paperback, successfully made a movie in Gainesville
             on a shoestring budget.
             <br>
             <a href="https://youtu.be/sWAAwUFvEYQ" target="_blank">Paperback - Official Trailer (2015)</a>
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image kent" title="Kent Willis">
            <span class="banner session__banner">TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
            Torso - Building On Backbone.js
            <small class="session__speaker-name">Kent Willis</small>
          </h3>
          <p class="session__desc">
            Backbone.js is so simple and clean! But it also doesn't get you very far.
            Kent will introduce you to Torso, the library that gives you features
            comparable to Angular or Ember but is built on top of Backbone.
            Who wouldn't want the features but keep the simplicity?
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image iryna" title="Iryna Kanishcheva">
            <span class="banner session__banner">CREATIVE</span>
          </div>
          <h3 class="session__title">
            Urban art in Gainesville and around the world
            <small class="session__speaker-name">Iryna Kanishcheva</small>
          </h3>
          <p class="session__desc">
            Editor-in-Chief of <a href="http://gnvurbanart.com/" target="_blank">gnvurbanart.com</a>, the founder and curator of the 352walls/Gainesville Urban Art Initiative,
            Iryna Kanishcheva will be discussing urban art culture, its benefits, and its challenges.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image john" title="John McFetridge">
            <span class="banner session__banner">TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
            Object Oriented Javascript
            <small class="session__speaker-name">John McFetridge</small>
          </h3>
          <p class="session__desc">
            This class requires a prior knowledge of Object Orientated concepts
            like classes, we will see how many of the OO ideas can be implemented
            in Javascript. This is vital in building large scale javascript
            (70000 lines of code) that I have been working on for last 2 years.
            Not for the faint of heart.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image garret" title="Garret Manno">
            <span class="banner session__banner">TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
            The Last and Longest Mile of Grocery eCommerce
            <small class="session__speaker-name">Garret Manno</small>
          </h3>
          <p class="session__desc">
            Only 2% of a 600 billion dollar grocery industry occurs through online channels.
            Why has the largest U.S. retail industry been so resistant to change
            while the rest of the world embraces the Internet of Things?
            Additionally, what is being done to disrupt the industry and
            create a new wave of convenience and efficiency when it comes to
            buying your groceries? Come find out!
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image pedro" title="Pedro Diaz">
            <span class="banner session__banner">TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
            Viz transformations with d3.js
            <small class="session__speaker-name">Pedro Diaz</small>
          </h3>
          <p class="session__desc">
            D3.js is a powerful data visualization library created by
            Mike Bostock with a very specific purpose: to efficiently
            manipulates documents based on data. Over the past few years the
            library has significantly evolved to position itself as one of
            the most popular tools to visualize data. It's popularity can be
            directly attributed to the large community behind the project
            and the many creative examples that have come up since it was created.
            <br>
            <br>
            In this talk, the speaker will give a brief overview of the library to describe what it is and what it is not. Using a realtime data stream he will demonstrate how to draw simple shapes, how to leverage the power of transitions and how to create different visualizations from the same data set. The demo will use an API to visualize the realtime edits of wikipedia and how the visualization can be used to see patterns in the data.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image james" title="James Kies">
            <span class="banner session__banner">ENTREPRENEUR/TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
            My Journey as a Scrum Coach/Consultant
            <small class="session__speaker-name">James Kies</small>
          </h3>
          <p class="session__desc">
            Tales from the trenches. When Malcom Gladwell coined the phrase
            "people that are willing to be disagreeable", he was talking about
            me. Not argumentative, not (always) abrasive, but called from a
            young age to seek out leadership blind-spots, all forms of waste,
            misaligned energy and under/over optimized strategies and am happy
            to be the one in the middle of the room with all the fingers of
            disbelief pointed at me. I am okay being disagreeable because
            time and time and time and time again I get to see how quickly
            people start to get it when they are doing transformational
            sized work in their lives or in their world of work.
            But to have a transformational sized experiences there are subtle
            context shifts and belief shifts you have to know about or you will
            likely stay in your own way. Join me for a quick chat on some of
            what I see the most often, some funny, some sad, and all true!
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image rylan" title="Rylan Conway">
            <span class="banner session__banner">TECHNOLOGY</span>
          </div>
          <h3 class="session__title">
            Designing A Touchscreen Keyboard Layout Optimized For Swype Input
            <small class="session__speaker-name">Rylan Conway</small>
          </h3>
          <p class="session__desc">
            The QWERTY keyboard was not designed with touchscreens in mind.
            In particular, with the rise of gesture based inputs like Swype and
            Swift Key the shortcomings of QWERTY have become even more pronounced.
            In this talk I'll go over my recent attempts with a colleague to
            algorithmically search for a keyboard layout that minimizes swipe input errors.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image david" title="David Nessl">
            <span class="banner session__banner">ENTREPRENEUR</span>
          </div>
          <h3 class="session__title">
            The Absolute Beginner's Checklist for Starting a Business
            <small class="session__speaker-name">David Nessl</small>
          </h3>
          <p class="session__desc">
            30 minutes is not enough time to learn how to start a successful
            business, but we can list the things you need to learn ahead of time
            so you don't join the 50% of businesses that fail in the first 3
            years because they were unprepared.
          </p>
        </div>
        <div class="session">
          <div class="session__speaker-image eva" title="Eva Del Rio LT">
            <span class="banner session__banner">ENTREPRENEUR/KITCHEN SINK</span>
          </div>
          <h3 class="session__title">
            Creating a Company Culture to Attract and Keep Good People
            <small class="session__speaker-name">Eva Del Rio</small>
          </h3>
          <p class="session__desc">
            What does it mean to work here? What are we in business for?
            Sooner or later you'll want to hire employees and a well defined
            company culture makes it easier for everyone (applicants, employees)
            to know what to expect. Join me for a talk and discussion about
            creating your company culture. For advice and tips check out my
            <a href="http://hrbox.co/the-hr-pro-blog/" target="_blank">blog</a>.
          </p>
        </div>
      </div>
    </section>
    @@include('_sponsors-footer.html')
    @@include('_footer.html')
    <script type="text/javascript">
      var elem = document.querySelector('.sessions-grid');
      var msnry = new Masonry( elem, {
        itemSelector: '.session',
        columnWidth: '.sessions-grid-sizer',
        gutter: 0
      });
    </script>
  </body>
</html>
