<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Sponsors | Gainesville Barcamp 2016 test</title>
    <link rel="stylesheet" href="assets/stylesheets/application.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <meta name="description" content="Gainesville Barcamp will be held on March 12th, 2016! BarCamp is a chance to network, learn something new, and communicate what you're most passionate about.">
    <meta property="og:image" content="http://gainesvillebarcamp.com/images/barcamp-share-image.jpg"/>
    <meta name="twitter:title" content="Gainesville Barcamp will be held on March 12th, 2016!">
    <meta name="twitter:description" content="BarCamp is a chance to network, learn something new, and communicate what you're most passionate about. Come one, come all. No boring talks to sift through in order to get to the good ones; the power is totally in your hands to hear what you're interested in!">
    <meta name="twitter:site" content="@GNVBarCamp">
    <meta name="twitter:image" content="http://gainesvillebarcamp.com/assets/images/barcamp-share-image.jpg">
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <h1 class="banner">Thank you to our sponsors!</h1><br>
      <a href="/prospectus.html" class="button">Sponsor Barcamp!</a>
      @@include('_sponsors-grid.html')
    </section>
    @@include('_footer.html')
  </body>
</html>
