/**
 * Base layouts
 */

$container-width: 94%;
$container-max: 1700px;

.container {
  width: $container-width;
  max-width: $container-max;
  margin: 0 auto;
}
.container--small {
  max-width: 1170px;
}
.container-break {
  margin-left: (100-$container-width)/-2;
  margin-right: (100-$container-width)/-2;
  @include breakpoint($container-max) {
    margin-left: calc(-1 * 50vw + #{$container-max/2});
    margin-right: calc(-1 * 50vw + #{$container-max/2});
  }
}
.container-break-padding {
  margin-left: (100-$container-width)/-2;
  margin-right: (100-$container-width)/-2;
  padding-left: (100-$container-width)/-2;
  padding-right: (100-$container-width)/-2;
  @include breakpoint($container-max) {
    margin-left: calc(-1 * 50vw + #{$container-max/2});
    margin-right: calc(-1 * 50vw + #{$container-max/2});
    padding-left: calc(-1 * 50vw + #{$container-max/2});
    padding-right: calc(-1 * 50vw + #{$container-max/2});
  }
}
.copy {
  @include clearfix;
}
