/**
 * Base layouts
 */

$container-width: 94%;
$container-max: 1700px;

.container {
  width: $container-width;
  max-width: $container-max;
  margin: 0 auto;
}
.container-break {
  margin-left: ($container-width/2)*-1;
  margin-right: ($container-width/2)*-1;
  @include breakpoint($container-max) {
    margin-left: calc(-1 * 50vw - #{$container-max/2});
    margin-right: calc(-1 * 50vw - #{$container-max/2});
  }
}
.container-break-padding {
  margin-left: ($container-width/2)*-1;
  margin-right: ($container-width/2)*-1;
  padding-left: ($container-width/2)*-1;
  padding-right: ($container-width/2)*-1;
  @include breakpoint($container-max) {
    margin-left: calc(-1 * 50vw - #{$container-max/2});
    margin-right: calc(-1 * 50vw - #{$container-max/2});
    padding-left: calc(-1 * 50vw - #{$container-max/2});
    padding-right: calc(-1 * 50vw - #{$container-max/2});
  }
}
