/**
 * About
 */


.about {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  background-image: url(/images/about-bg.jpg);
  background-repeat: no-repeat;
  background-position : 100% 0;
  z-index: -1;
  background-size: auto;
  @include breakpoint($normal_wide) {
    // background-size: cover;
  }


  .copy {
    position: relative;
    padding: 40px 0 20px 40px;
    width: calc(52% - 70px);
    height: 100%;
    color: #fff;
    background: $red;

    h1 { margin-top: 0; }
    p { font-size: 18px; }

    &:after {
      content: '';
      position: absolute;
      right: -70px;
      top: 0;
      height: 100%;
      width: 50%;
      transform: skewX(-5.5deg);
      transform-origin: 100%;
      z-index: -1;
      background: $red;
    }

  }

}
