/**
 * Footer
 */

.footer {
  position: relative;
  overflow: hidden;
  min-height: 500px; // @todo remove this
  padding-top: 50px; // Accomodate pseudo element
  background-color: $gray;
  background-position: center;
  background-size: cover;
  @include breakpoint($tablet_narrow) {
    background-image: url(/images/footer-bg-mid.jpg);
    padding-top: 75px; // Accomodate pseudo element
  }
  @include breakpoint($normal) {
    background-image: url(/images/footer-bg-full.jpg);
  }
  @include breakpoint($wide) {
    padding-top: 125px; // Accomodate pseudo element
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 38, 47, 0.95);
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    border-left: 100vw solid transparent;
    border-top: 25px solid $off-white;
    z-index: 10;
    @include breakpoint($tablet_narrow) {
      border-top: 50px solid $off-white;
    }
    @include breakpoint($wide) {
      border-top: 100px solid $off-white;
    }
  }
  .button {
    margin-top: 30px;
  }
}
.footer-first,
.footer-second {
  position: relative;
  color: white;
  text-align: center;
  z-index: 5;
  @include breakpoint($tablet_wide) {
    font-size: 24px;
    width: 50%;
    float: left;
  }
  p {
    font-size: inherit;
    @include breakpoint($normal_wide) {
      min-height: 115px;
    }
  }
}

.footer-bottom {
  clear: both;
  position: relative;
  color: white;
  text-align: center;
  z-index: 5;
  padding: 40px 0 40px 0;
  @include breakpoint($tablet_wide) {
    font-size: 18px;
  }
  p {
    padding: 0;
  }
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  ul.social {
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 40px 0 40px 0;
    list-style-type: none;
    border-top: 1px solid $gray;
    @include breakpoint($tablet_wide) {
      max-width: 85%;
    }
    li {
      display: inline-block;
      margin: 0 40px;
    }
  }
}
.footer-button--volunteer {
  @include icon('icon-face.svg', 20px);
}
.footer-button--faq {
  @include icon('icon-help.svg', 20px);
}

