/**
 * Header
 */

$header-height: 80px;

.header {
  @include clearfix;
  background: white;
  max-width: 100%;
  overflow: hidden; // Prevent horizontal scrolling
}
.header-year {
  position: relative;
  float: left;
  width: 30%;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: $header-height*0.75;
  font-family: $font-sans;
  font-style: italic;
  font-size: 24px;
  color: white;
  @include breakpoint($smartphone_wide) {
    max-width: 250px;
    line-height: $header-height;
  }
  &:before {
    content: "";
    position: absolute;
    left: -45%;
    top: 0;
    width: 150%;
    height: 100%;
    display: block;
    transform: skew(-22deg);
    background: $red;
    animation-duration: 1s;
    animation-name: slidein;
    animation-fill-mode: both;
    backface-visibility: hidden;
  }
  .century,
  .year {
    position: relative;
  }
  .barcamp-logo {
    display: none;
    @include breakpoint($smartphone_wide) {
      transform: translateY(16px);
      display: inline-block;
      margin: 0 5px;
    }
  }
}
