/**
 * Hero
 */

.hero {
  clear: both;
  background: black;
  background-size: contain;
  background-image: url(/images/background-small.jpg);
  height: calc(100vh - #{$header-height});
  @include breakpoint($tablet_narrow) {
    background-image: url(/images/background-medium.jpg);
  }
  @include breakpoint($normal) {
    background-image: url(/images/background-full.jpg);
    height: 1000px;
  }
}
