/**
 * Sponsors section on front page
 */

.sponsors { // @todo reduce padding when sponsor logos are added
  padding: 50px 0;
  @include breakpoint($normal) {
    padding: 100px 0;
  }
}

/**
 * Sponsors Page
 */

.sponsors-button {
  @include icon('icon-heart.svg', 20px);
}
.sponsor-level {
  text-align: center;
}
.sponsor-list {
  padding: 0;
  margin: 0;
  font-size: 0;
  div:not(.sponsors-front) & {
    text-align: center;
  }
}
.sponsor-list-item {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  list-style: none;
  padding: 20px;
  margin: 40px 0;
  .sponsor-list--sapling & {
    width: 24%;
    @include breakpoint($normal) {
      width: 24%;
      padding: 40px;
    }
  }
}
