/**
 * About
 */

.about {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  @include breakpoint($tablet_narrow) {
    margin-top: 100px;
  }
  @include breakpoint($tablet_wide) {
    background-image: url(../../assets/images/about-bg.jpg);
    background-repeat: no-repeat;
    background-position : 100% 0;
    background-size: cover;
    width: 94%;
    overflow: hidden;
  }
  @include breakpoint($normal) {
    background-size: contain;
  }
  .copy {
    padding: 50px 20px;
    width: 100%;
    height: 100%;
    color: white;
    background: $red;
    font-size: 18px;
    @include breakpoint($tablet_wide) {
      position: relative;
      padding: 50px 10px 50px 50px;
      width: 49%;
    }
    @include breakpoint($wide) {
      font-size: 24px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      height: 0;
      width: 0;
      background: transparent;
      border-style: solid;
      border-width: 25px 100vw 0 0;
      border-color: $red transparent transparent transparent;
      @include breakpoint($tablet_wide) { // CSS border arrows won't scale to dynamic content. Move to skewed box.
        top: 0;
        left: auto;
        right: -55px;
        width: 500px;
        height: 100%;
        background: $red;
        transform: skewX(-7deg);
        border: none;
      }
    }
    .copy-content {
      position: relative;
      z-index: 10;
    }
    h1 {
      margin-top: 0;
    }
    p {
      font-size: inherit;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
