/**
 * Hero
 */

.hero {
  clear: both;
  position: relative;
  background: black;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/images/background-small.jpg);
  height: 400px; // Backup height value for Safari <= 7
  height: calc(95vh - #{$header-height}); // $header-height defined in _header.scss
  @include breakpoint($tablet_narrow) {
    background-image: url(../../assets/images/background-medium.jpg);
    height: 500px; // Backup height value for Safari <= 7
    height: calc(95vh - #{$header-height});
  }
  @include breakpoint($normal) {
    background-image: url(../../assets/images/background-full.jpg);
    height: 0;
    padding-top: 40%;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 38, 47, 0.95);
  }
}
.hero-logo {
  position: absolute;
  @include center;
  display: block;
  width: 100%;
  height: auto;
  margin: -10% auto 0 auto;
  max-width: 300px;
  max-height: 70%;
  @include breakpoint($tablet_narrow) {
    margin-top: -15px;
    max-width: 350px;
    max-height: 80%;
  }
  @include breakpoint($wide) {
    max-width: 400px;
  }
}

.hero-button {
  position: absolute;
  margin: 0;
  @include center(x);
  bottom: 5%;
  background: $red;
  letter-spacing: 0.2em;
  @include breakpoint($smartphone_wide) {
    line-height: 75px;
    padding: 0 50px;
    bottom: 10%;
  }
  @include breakpoint($tablet_narrow) {
    bottom: auto;
    top: calc(100% - 37px)
  }
  @include breakpoint($wide) {
    line-height: 100px;
    padding: 0 75px;
    top: calc(100% - 50px);
  }
}
