/**
 * Sessions section
 */

.sessions {
  .copy {
    font-size: 22px; // @todo abstract
    font-family: $font-serif;
    clear: left;
    @include breakpoint($tablet_narrow) {
      font-size: 32px; // @todo abstract
    }
    @include breakpoint($tablet_wide) {
      max-width: 60%;
      float: left;
    }
    p {
      font-family: inherit;
      font-size: inherit;
    }
  }
}
.sessions-banner {
  float: left;
}
.sessions-button {
  @include icon('icon-list.svg', 25px);
  @include breakpoint($tablet_wide) {
    float: right;
    margin-top: 100px; // arbitrary number
  }
}
.sessions-image {
  display: block;
  width: 100%;
  height: auto;
}
