.sponsors-button {
  @include icon('icon-heart.svg', 20px);
}

.sponsors-grid {
  justify-content: center;
  &--first {
    margin-top: 50px;
  }

  .grid-cell {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid darken($off-white, 5%);
    @include breakpoint($tablet_wide) {
      height: 220px;
      border-right: 1px solid darken($off-white, 5%);
      border-bottom: 1px solid darken($off-white, 5%);
      &:after {
         content: '';
         position: absolute;
         bottom: -20px;
         right: -20px;
         height: 40px;
         width: 40px;
         z-index: 50;
         background: $off-white;
       }

      &:last-child { border-right: 0; }
    }

    img {
      width: 90%;
      max-width: 500px;
      height: auto;
      @include breakpoint($tablet_wide) {
        margin: auto;
        width: 75%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    .banner {
      position: absolute;
      top: -15px;
      left: 0;
      color: #666;
      background: darken($off-white, 5%);
      &:after {
        display: none;
      }
    }

  }

  &--cypress {
    .grid-cell img {
      max-width: 500px;
    }
  }

  &--magnolia {
    .grid-cell img {
      max-width: 400px;
    }
  }

  &--sapling {
    .grid-cell img {
      max-width: 300px;
    }
  }

  &--seedling {
    .grid-cell img {
      max-width: 200px;
    }
  }

  &--last {
    margin-bottom: 50px;
    .grid-cell:last-child { border-bottom: 0; }
    @include breakpoint($tablet_wide) {
      .grid-cell { border-bottom: 0; }
    }
  }

}
